@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html, body
{
    height: 100%;
}

body { padding-top: 50px;}

.navbar-brand{
  padding: 10px 15px;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

.container{
  padding-bottom: 40px;
}

.navbar-fixed-bottom{
  color: white;
  max-height: 22px !important;
  min-height: 22px !important;
}


.background{
  height: 100%;
  background:url('../back.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.login-box{
  margin-top: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: rgba(255, 255, 255, 0.81);
  padding-bottom: 6px;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  margin-top: 20px;
}

.card-inside{
  padding: 8px;
}

.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  span{
    font-size: 12px;
    display: block;
  }
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  font-size: 20px;
}